body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    font-family: var(--font-primary);
}

a,
button,
svg {
    transition: all .2s;
}