:root {

    // fonts

    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Segoe UI", sans-serif;

    // colors



    // container

    --container-width: 1170px;
    --container-padding: 55px;

    @include mobile {
        --container-padding: 16px;
    }
}