:root {

    // fonts

    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Segoe UI", sans-serif;

    // colors

    --color-primary: #4054f9;
    --color-secondary: #725ed8;
    --color-accent: #d1852c;

    --color-text-1: #262626;
    --color-text-2: #3b3b3b;
    --color-text-3: #979797;

    // container

    --container-width: 1170px;
    --container-padding: 55px;

    @include mobile {
        --container-padding: 16px;
    }
}