.benefits {
    padding: 140px 0;

    @include tablet {
        padding: 100px 0;
    }

    @include mobile {
        padding: 50px 0;
    }

    &__title {
        margin-bottom: 50px;
        max-width: 626px;

        @include tablet {
            margin-bottom: 30px;
        }

        @include mobile {
            margin-bottom: 20px;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 57px;
        row-gap: 50px;

        @include laptop {
            max-width: 760px;
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
            grid-template-columns: 1fr;
            gap: 20px;
        }

        @include mobile {
            gap: 16px;
        }
    }

    &__item {

        &--last {

            @include laptop {
                margin-top: -33px;
            }

            @include tablet {
                margin: 0;
            }
        }
    }

    &__item-counter {
        border-bottom: 1px solid #cfd7e7;
        margin-bottom: 25px;
        padding-bottom: 20px;
        font-family: var(--font-primary);
        font-weight: 700;
        font-size: 46px;
        line-height: 1.17391;
        color: var(--color-primary);
    }

    &__item-description {
        font-family: var(--font-primary);
        font-weight: 500;
        font-size: 22px;
        line-height: 1.36364;
        color: var(--color-text-2);

        @include mobile {
            font-size: 16px;
            line-height: 1.5;
        }
    }

    &__item-strong {
        font-weight: 700;
        color: var(--color-text-1);
    }
}