.benefits {
    padding: 140px 0;

    &__title {
        margin-bottom: 50px;
        max-width: 626px;
    }

    &__items {}

    &__item {}

    &__item-counter {}

    &__item-description {}

    &__item-strong {}
}