.btn {
    border-radius: 3px;
    padding: 14px 56px;
    min-width: 310px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    background: #4054f9;

    @include mobile {
        padding: 12px 48px;
        min-width: auto;
        font-size: 16px;
        line-height: 1.625;
    }

    @include mobile-small {
        width: 100%;
    }

    &:hover {
        background: #725ed8;
    }
}