.container {
    --container-width: 1170px;
    --container-padding: 55px;

    @include mobile {
        --container-padding: 16px;
    }

    margin: 0 auto;
    padding: 0 var(--container-padding);
    max-width: calc(var(--container-width) + var(--container-padding) * 2);
}