.footer {
    background: #f2f5fb;

    // top

    &__top {
        padding: 40px 0;
        border: 1px solid #cfd7e7;
    }

    &__title {
        margin-bottom: 25px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: #262626;
    }

    &__top-row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        &:hover {

            .footer__link-text {
                color: #4054f9;
            }
        }
    }

    &__link-icon {}

    &__link-text {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.72;
        color: #3b3b3b;
    }

    &__btn {
        border-radius: 4px;
        padding: 7px 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;

        &--whatsapp {
            background: #56cd6c;

            &:hover {
                background: rgb(30, 174, 57);
            }
        }

        &--telegram {
            background: #61a8de;

            &:hover {
                background: #207dc4;
            }
        }
    }

    &__btn-icon {}

    &__btn-text {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.57143;
        text-align: right;
        color: #fff;
    }


    // bottom

    &__bottom {
        padding: 32px 0;
    }

    &__bottom-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    &__socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__socials-item {}

    &__socials-link {
        border-radius: 100%;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #b9c2d3;

        &:hover {
            background: #4054f9;
        }
    }

    &__socials-icon {

        &--telegram {
            transform: translate(-1px, 0);
        }

        &--youtube {
            transform: translate(1px, -1px);
        }
    }

    &__platforms {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    &__platforms-link {

        &:hover {
            opacity: 0.8;
        }
    }

    &__platforms-image {}
}