.functions {
    padding-bottom: 140px;
    background: #f2f5fb;

    &__title {
        margin-bottom: 50px;
        text-align: center;
    }

    &__body {
        border-radius: 3px;
        padding: 50px 90px 50px 70px;
        box-shadow: 25px 25px 50px 0 rgba(0, 0, 0, 0.07);
        background: #fff;
    }

    &__cards {
        margin-bottom: 44px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    // card

    &__card {
        max-width: calc(430px + 75px);

        &--left {
            padding-right: 74px;
            border-right: 1px solid #cfd7e7;
        }

        &--right {
            padding-left: 75px;
        }
    }

    &__card-title {
        margin-bottom: 22px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.30769;
        text-align: center;
        color: #262626;

        &--big-margin {
            margin-bottom: 32px;
        }
    }

    &__card-description {
        margin-bottom: 20px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #979797;
    }

    &__card-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__card-item {
        padding-left: 30px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #3b3b3b;
        background: url('../img/check.svg') no-repeat left top;
    }

    &__card-accent {
        font-weight: 700;
        color: #262626;
    }

    // prices

    &__prices {}

    &__prices-title {}

    &__prices-row {}

    &__prices-col {

        &--border {}
    }

    &__prices-text {}

    // price

    &__price {}

    &__price-title {}

    &__price-count {}

    &__price-sign {}

    &__price-old {}

    &__price-new {}
}