.functions {
    padding-bottom: 140px;
    background: #f2f5fb;

    &__title {
        margin-bottom: 50px;
        text-align: center;
    }

    &__cards {
        border-radius: 3px;
        padding: 50px 70px;
        box-shadow: 25px 25px 50px 0 rgba(0, 0, 0, 0.07);
        background: #fff;
    }

    &__card {

        &--border {}
    }

    &__card-title {}

    &__card-list {}

    &__card-item {}

    &__card-accent {}

    &__card-description {}

    &__prices {}

    &__prices-title {}

    &__prices-row {}

    &__prices-col {

        &--border {}
    }

    &__prices-text {}

    &__price {}

    &__price-title {}

    &__price-count {}

    &__price-sign {}

    &__price-old {}

    &__price-new {}
}