.header {
    z-index: 10;
    padding: 21px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        @include laptop {
            gap: 13px;
        }

        & > * {
            flex-shrink: 0;
        }
    }

    &__menu-toggle {
        display: none;

        @include laptop {
            margin-right: 13px;
            display: block;
        }

        @include mobile {
            margin-right: 8px;
        }
    }

    &__menu-toggle-icon {}

    &__logo {

        @include mobile {
            display: none;
        }
    }

    &__logo-image {}

    &__account {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 28px;

        @include laptop {
            flex-grow: 1;
        }
    }

    &__gift {
        position: relative;
        padding: 7px 12px 5px 5px;

        @include laptop {
            transform: translateY(-4px);
            margin-right: auto;
        }

        &:hover {

            .header__gift-count {
                background: #4054f9;
            }
        }
    }

    &__gift-image {}

    &__gift-count {
        position: absolute;
        top: 2px;
        right: 1px;
        border-radius: 100%;
        border: 2px solid #fff;
        min-width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        font-size: 9px;
        color: #fff;
        background: #725ed8;
        transition: all .2s;
    }

    &__registration {
        border-radius: 4px;
        padding: 6px 16px;
        min-width: 103px;
        font-family: "Segoe UI", sans-serif;
        font-size: 12px;
    }

    &__sign-in {
        font-family: "Segoe UI", sans-serif;
        font-weight: 600;
        font-size: 12px;
        color: #4054f9;

        &:hover {
            color: #725ed8;
        }
    }
}