.header {
    padding: 21px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 88px;
    }

    &__logo {}

    &__logo-image {}

    &__account {}

    &__gift {}

    &__gift-image {}

    &__gift-count {}

    &__sign-in {}
}