.help {
    overflow: hidden;
    padding: 140px 0;
    background: #f2f5fb;

    &__title {
        margin-bottom: 50px;
        max-width: 800px;
    }

    &__items {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        &::before {
            content: url('../img/help-decor.svg');
            position: absolute;
            top: -162px;
            right: -97px;
            z-index: 1;
            width: 175px;
            height: 357px;
        }
    }

    &__item {
        z-index: 2;
        border-radius: 3px;
        padding: 41px 40px;
        box-shadow: 25px 25px 50px 0 rgba(0, 0, 0, 0.07);
        background: #fff;

        &--wide {
            grid-column: span 3;
        }

    }

    &__item-icon {
        margin-bottom: 24px;
    }

    &__item-title {
        max-width: 202px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 26px;
        line-height: 1.30769;
        color: #262626;

        &--wide {
            max-width: none;
        }
    }
}