.help {
    overflow: hidden;
    padding: 140px 0;
    background: #f2f5fb;

    @include tablet {
        padding: 100px 0;
    }

    @include mobile {
        padding: 50px 0 45px;
    }

    &__title {
        margin-bottom: 50px;
        max-width: 800px;

        @include tablet {
            margin-bottom: 30px;
        }

        @include mobile {
            margin-bottom: 20px;
        }
    }

    &__items {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        @include laptop {
            gap: 22px;
        }

        @include tablet {
            grid-template-columns: 1fr;
        }

        &::before {
            content: url('../img/help-decor.svg');
            position: absolute;
            top: -162px;
            right: -97px;
            z-index: 1;
            width: 175px;
            height: 357px;

            @include laptop {
                display: none;
            }
        }
    }

    &__item {
        z-index: 2;
        border-radius: 3px;
        padding: 41px 40px;
        box-shadow: 25px 25px 50px 0 rgba(0, 0, 0, 0.07);
        background: #fff;

        @include laptop {
            padding: 41px 33px;
        }

        @include mobile {
            padding: 24px 18px;
        }

        &--wide {
            grid-column: span 3;

            @include tablet {
                grid-column: auto;
            }
        }

    }

    &__item-icon {
        margin-bottom: 24px;
    }

    &__item-title {
        max-width: 202px;
        font-family: var(--font-primary);
        font-weight: 600;
        font-size: 26px;
        line-height: 1.30769;
        color: #262626;

        @include tablet {
            max-width: none;
        }

        @include mobile {
            font-size: 16px;
            line-height: 1.5;
        }

        &--wide {
            max-width: 960px;
        }
    }
}