.how {
    padding: 140px 0;

    @include tablet {
        padding: 100px 0;
    }

    @include mobile {
        padding: 50px 0;
    }

    &__header {
        margin: 0 auto;
        padding: 0 var(--container-padding);
        max-width: calc(880px + var(--container-padding) * 2);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        @include tablet {
            gap: 20px;
        }

        @include mobile {
            gap: 10px;
        }
    }

    &__title {
        text-align: center;
    }

    &__description {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 26px;
        line-height: 1.30769;
        letter-spacing: 0.01em;
        text-align: center;
        color: #3b3b3b;

        @include laptop {
            max-width: 730px;
        }

        @include tablet {
            max-width: 449px;
            font-size: 20px;
            line-height: 1.4;
        }

        @include mobile {
            font-size: 16px;
            line-height: 1.5;
        }
    }

    &__description-accent {
        font-weight: 800;
        color: #4054f9;
    }

    &__body {

        padding: 0 var(--container-padding);
    }

    &__image {
        transform: translateX(10px);
        margin: -33px auto -18px;

        @include laptop {
            transform: translateX(7px);
            margin: -18px auto -12px;
            width: 93%;
        }

        @include tablet {
            transform: translateX(4px);
            margin: -2px auto -22px;
            width: 86%;
        }

        @include mobile {
            transform: translateX(2px);
            margin: -4px auto -4px;
            width: 95%;
        }
    }
}