.menu {

    @include laptop {
        position: absolute;
        top: 75px;
        left: 0;
        border-top: 1px solid #cfd7e7;
        padding: var(--container-padding) var(--container-padding) calc(var(--container-padding) * 2);
        width: 100%;
        display: none;
        background: #fff;
    }

    @include mobile {
        padding: calc(var(--container-padding) * 2) var(--container-padding);
    }

    &--active {

        @include laptop {
            display: block;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 24px;

        @include laptop {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        position: relative;

        &--has-submenu {

            &:hover {

                .menu__link {
                    color: #4054f9;

                    &::after {

                        @include laptop-up {
                            transform: translate(0, 3px) rotate(-180deg);
                        }
                    }
                }

                .menu__submenu {

                    @include laptop-up {
                        visibility: visible;
                        transform: translate(0);
                        opacity: 1;
                    }
                }
            }

            .menu__link {
                position: relative;
                padding-right: 18px;

                &::after {
                    content: url('../img/arrow-down.svg');
                    position: absolute;
                    top: 6px;
                    right: 0;
                    width: 16px;
                    height: 16px;
                    transition: all .2s;
                }
            }
        }
    }

    &__link {
        padding: 4px;
        font-family: "Segoe UI", sans-serif;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        color: #262626;
        cursor: pointer;

        @include laptop {
            font-size: 20px;
        }

        @include mobile {
            font-size: 18px;
        }

        &:hover {
            color: #4054f9;
        }

        &--accent {
            color: #d1852c;
        }
    }

    // submenu

    &__submenu {

        @include laptop-up {
            visibility: hidden;
            position: absolute;
            top: 100%;
            left: -20px;
            transform: translate(0, 10%);
            border-radius: 3px;
            width: 220px;
            box-shadow: 25px 25px 50px 0 rgba(0, 0, 0, 0.07);
            background: #fff;
            opacity: 0;
            transition: all .2s;
        }

        @include laptop {
            overflow: hidden;
            max-height: 0;
            transition: all .4s;
        }

        &--active {

            @include laptop {
                max-height: none;
            }
        }
    }

    &__submenu-list {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__submenu-item {}

    &__submenu-link {
        font-family: "Segoe UI", sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: #262626;

        @include laptop {
            font-size: 18px;
        }

        @include mobile {
            font-size: 16px;
        }

        &:hover {
            color: #4054f9;
        }
    }

}