.menu {
    transition: all .2s;

    @include laptop {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 74px;
        left: -120%;
        border-top: 1px solid #cfd7e7;
        padding: var(--container-padding);
        width: 100%;
        background: #fff;
    }

    @include mobile {
        padding: calc(var(--container-padding) * 2) var(--container-padding);
    }

    &--active {

        @include laptop {
            visibility: visible;
            opacity: 1;
            left: 0;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 24px;

        @include laptop {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        position: relative;

        &--has-submenu {

            &:hover {

                .menu__link {
                    color: var(--color-primary);

                    &::after {

                        @include laptop-up {
                            transform: rotate(-180deg);
                        }
                    }
                }

                .menu__submenu {

                    @include laptop-up {
                        visibility: visible;
                        opacity: 1;
                        transform: translate(0);
                    }
                }
            }

            .menu__link {
                display: flex;
                gap: 2px;

                &::after {
                    content: url('../img/arrow-down.svg');
                    width: 16px;
                    transition: all .2s;

                    @include laptop-up {
                        transform: translateY(1px);
                    }
                }

                &--active {

                    @include laptop {

                        &::after {
                            transform: translateY(4px) rotate(-180deg);
                        }
                    }

                    @include mobile {

                        &::after {
                            transform: translateY(2px) rotate(-180deg);
                        }
                    }
                }
            }
        }
    }

    &__link {
        padding: 4px;
        font-family: var(--font-secondary);
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        color: var(--color-text-1);
        cursor: pointer;

        @include laptop {
            font-size: 20px;
        }

        @include mobile {
            font-size: 18px;
        }

        &:hover {
            color: var(--color-primary);
        }

        &--accent {
            color: var(--color-accent);
        }
    }

    // submenu

    &__submenu {
        transition: all .2s;

        @include laptop-up {
            visibility: hidden;
            position: absolute;
            top: 100%;
            left: -20px;
            transform: translate(0, 10%);
            border-radius: 3px;
            width: 220px;
            box-shadow: 25px 25px 50px 0 rgba(0, 0, 0, 0.07);
            background: #fff;
            opacity: 0;
        }

        @include laptop {
            overflow: hidden;
            max-height: 0;
        }
    }

    &__submenu-list {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__submenu-item {}

    &__submenu-link {
        font-family: var(--font-secondary);
        font-weight: 600;
        font-size: 15px;
        color: var(--color-text-1);

        @include laptop {
            font-size: 18px;
        }

        @include mobile {
            font-size: 16px;
        }

        &:hover {
            color: var(--color-primary);
        }
    }

}