.menu {

    &__list {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__item {

        &--has-dropdown {
            position: relative;
            padding-right: 18px;
            cursor: pointer;

            &::after {
                content: url('../img/arrow-down.svg');
                position: absolute;
                top: 2px;
                right: 0;
                width: 16px;
                height: 16px;
            }
        }
    }

    &__link {
        font-family: "Segoe UI", sans-serif;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        color: #262626;

        &--accent {
            color: #d1852c;
        }
    }

    &__dropdown {
        display: none;
    }

    &__dropdown-item {}

    &__dropdown-link {}

}