.promo {
    overflow: hidden;
    background: #f2f5fb;

    &__inner {
        position: relative;
        padding: 50px 0;
        min-height: 572px;
        display: flex;
        align-items: center;

        &::before {
            content: url('../img/promo-decor.svg');
            position: absolute;
            top: 33px;
            left: 50%;
            transform: translateX(112px);
        }
    }

    &__info {
        position: relative;
        max-width: 664px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }

    &__image {
        position: absolute;
        top: 58px;
        left: 50%;
        transform: translateX(155px);
    }
}