.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 54px;
    line-height: 1.18519;
    letter-spacing: 0.01em;
    color: #262626;

    @include tablet {
        font-size: 40px;
        line-height: 1.25;
    }

    @include mobile {
        font-size: 20px;
        line-height: 1.3;
    }

    &--2 {
        font-size: 50px;
        line-height: 1.2;

        @include tablet {
            font-size: 40px;
            line-height: 1.25;
        }

        @include mobile {
            font-size: 20px;
            line-height: 1.3;
        }
    }

    &__accent {
        color: #4054f9;
    }
}